__pycache__
.vscode
parser

models/DB_TAGGER/node_modules
models/DB_TAGGER/.vscode
models/DB_TAGGER/__pycache__

models/text-davinci-003/node_modules
models/text-davinci-003/.vscode
models/text-davinci-003/__pycache__

models/slsql/corenlp/
models/slsql/output/

client/node_modules
client/.vscode
client/__pycache__

server/node_modules
server/.vscode
server/__pycache__
server/.env